src/v17_v32bis_rx_rrc.h
src/v17_v32bis_tx_rrc.h
src/v22bis_rx_1200_rrc.h
src/v22bis_rx_2400_rrc.h
src/v22bis_tx_rrc.h
src/v27ter_rx_2400_rrc.h
src/v27ter_rx_4800_rrc.h
src/v27ter_tx_2400_rrc.h
src/v27ter_tx_4800_rrc.h
src/v29rx_rrc.h
src/v29tx_rrc.h
INSTALL
test-data/itu/tiff-fx/Makefile
test-data/itu/tiff-fx/Makefile.in

src/at_interpreter_dictionary.h
src/cielab_luts.h
src/math_fixed_tables.h
src/t43_gray_code_tables.h
src/v17_v32bis_rx_floating_rrc.h
src/v17_v32bis_tx_floating_rrc.h
src/v22bis_rx_1200_floating_rrc.h
src/v22bis_rx_2400_floating_rrc.h
src/v22bis_tx_floating_rrc.h
src/v27ter_rx_2400_floating_rrc.h
src/v27ter_rx_4800_floating_rrc.h
src/v27ter_tx_2400_floating_rrc.h
src/v27ter_tx_4800_floating_rrc.h
src/v29rx_floating_rrc.h
src/v29tx_floating_rrc.h
